{% extends "layout.html.twig" %}
{% set medicamentMenu = true %}

{% block title %}{{ medicament.nomCommercial }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
<div class="well">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label">Famille</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ medicament.famille.libelle }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Dépôt légal</label>
            <div class="col-sm-9">
            <p class="form-control-static">{{ medicament.depotLegal }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Composition</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ medicament.composition }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Effets secondaires</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ medicament.effets }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Contre-indication</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ medicament.contreIndication }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Prix d'un échantillon</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ medicament.prixEchantillon }}</p>
            </div>
        </div>
		<h3>Interactions Médicamenteuses</h3>
		<div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Famille</th>
                </tr>
            </thead>
       <!-- -->     
                {% for interaction in interactions %}
                <tr>
                <td><a href="/medicament/{{ interaction.id }}">{{ interaction.nomCommercial }}</a></td>
				<td>{{ interaction.famille.libelle }}</td>
                <td>
                       
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#articleDialog{{ interaction.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="articleDialog{{ interaction.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                    </div>
                                    <div class="modal-body">
                                        voulez vous vraiment supprimer cette interaction ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <a href="{{ path('interaction_delete', { 'id': interaction.id,'medId':medicament.id }) }}" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
        
    <div>
        <a href="{{ path('interaction_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add </button></a>
    </div>
  <!-- -->  
        </table>
    </div>
		
    </form>
</div>
{% endblock %}